@import url("https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* ::selection {
  background-color: black;
  color: rgb(249, 177, 44);
}

header {
  padding: 10px;
  background-image: linear-gradient(0deg, rgba(255, 180, 17, 0.245), rgba(0, 0, 0, 0.262)), url(../assets/hero.jpg);
  background-size: cover;
  height: 100vh;
  /* INICIO ESTILOS NAVBAR */
  /* FIN ESTILOS NAVBAR */
}
header h1 {
  font-family: "Rosarivo", cursive;
  font-size: 60px;
  font-weight: bolder;
  text-shadow: 0px 5px 10px rgb(39, 38, 38);
  animation: pulse 3s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
header #btn-uno {
  text-shadow: 5px 0px 10px black;
  background-color: rgba(0, 0, 0, 0.3);
}
header #btn-uno:hover {
  text-shadow: none;
  background-color: rgb(255, 188, 65);
  transform: scale(1.05);
}
header .hero {
  background-color: rgba(0, 0, 0, 0);
  height: 86vh;
}
header nav {
  background-color: rgb(255, 254, 249);
  height: 80px;
  margin: 20px 10px;
  border-radius: 30px;
  padding: 0.5rem;
}
header nav .navbar-brand span {
  color: rgb(255, 188, 65);
  font-weight: bold;
}
header nav .login-button {
  color: rgb(255, 188, 65);
  padding: 4px 15px;
  border-radius: 20px;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  border: 2px solid rgb(255, 188, 65);
}
header nav .login-button:hover {
  background-color: rgb(255, 188, 65);
  color: rgb(39, 38, 38);
  transition: 0.2s;
  font-weight: bold;
}
header nav .navbar-toggler {
  border: none;
}
header nav .nav-link:hover {
  color: rgb(255, 188, 65);
}
header nav .dropdown-item:hover {
  color: rgb(255, 188, 65);
}

main {
  background-image: url(../assets/backgorund.jpg);
  /*========= MEDIA QUERIES =========*/
  /*========= TABLET 768px =========*/
  /*========= MEDIA QUERIES =========*/
  /*========= MOVIL L 425px =========*/
}
main section .col-md-4 {
  display: flex;
  align-items: stretch;
  margin-bottom: 2rem;
}
main section .card {
  background-color: rgb(255, 254, 249);
}
main .options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
main .options .heading-2 {
  letter-spacing: 10px;
}
main .options .container-options {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
main .options .container-options span {
  color: rgb(39, 38, 38);
  background-color: rgb(255, 254, 249);
  padding: 0.4rem 2rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
main .options .container-options .active {
  background-color: rgb(255, 188, 65);
  box-shadow: 0 0 4px rgb(118, 106, 106);
  color: rgb(255, 254, 249);
}
main .options .container-options span:hover {
  background-color: rgb(255, 188, 65);
  box-shadow: 0 0 4px rgb(118, 106, 106);
  color: rgb(255, 254, 249);
}
main .gallery-container {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
main #gallery {
  height: 40rem;
  width: 60rem;
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
}
main #gallery::-webkit-scrollbar {
  width: 10px;
}
main #gallery::-webkit-scrollbar-thumb {
  background: rgb(255, 188, 65);
  border-radius: 8px;
}
main #gallery::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 208, 122);
}
@media (max-width: 768px) {
  main .options .heading-2 {
    letter-spacing: 2px;
  }
  main .options .container-options {
    gap: 1rem;
  }
  main .options .container-options span {
    padding: 0.2rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 1.3rem;
  }
  main .gallery-container {
    margin: 0 1rem;
  }
  main #gallery {
    height: 30rem;
    width: 45rem;
  }
  main #gallery::-webkit-scrollbar {
    width: 0px;
  }
}
@media (max-width: 425px) {
  main .options .heading-2 {
    letter-spacing: 2px;
  }
  main .options .container-options {
    gap: 0.5rem;
  }
  main .options .container-options span {
    padding: 0.2rem 1rem;
    font-size: 0.9rem;
    border-radius: 1rem;
    font-weight: 500;
  }
  main .gallery-container {
    margin: 0 0.5rem;
  }
  main #gallery {
    height: 20rem;
    width: 30rem;
  }
  main #gallery::-webkit-scrollbar {
    width: 0px;
  }
  main #gallery::-webkit-scrollbar-thumb {
    background: rgb(255, 188, 65);
  }
}

footer {
  background-image: url(../assets/background-yellow.jpg);
  background-size: cover;
  padding: 1rem 3rem;
}
footer .container-footer {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  /* =======COPYRIGHT FOOTER======= */
}
footer .container-footer .menu-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  border-bottom: 1px solid rgb(255, 254, 249);
  color: rgb(255, 254, 249);
  padding-bottom: 1.2rem;
  line-height: 1.8rem;
  font-size: 1.2rem;
  /* ******MI CUENTA****** */
  /* ******BOLETIN INFORMATIVO****** */
}
footer .container-footer .menu-footer .info-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
footer .container-footer .menu-footer .social-icons {
  display: flex;
  gap: 1.4rem;
}
footer .container-footer .menu-footer .social-icons a i {
  color: rgb(255, 254, 249);
  font-size: 1.2rem;
  border: 2px solid rgb(255, 254, 249);
  padding: 0.4rem;
  border-radius: 50%;
  transition: all 0.6s ease;
}
footer .container-footer .menu-footer .social-icons a i:hover {
  background-color: rgb(39, 38, 38);
  color: rgb(255, 188, 65);
  border: 2px solid rgb(39, 38, 38);
  box-shadow: 0px 2px 5px rgb(39, 38, 38);
  transform: scale(1.1);
}
footer .container-footer .menu-footer .my-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
}
footer .container-footer .menu-footer .title-footer {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: rgb(39, 38, 38);
}
footer .container-footer .menu-footer .my-account ul li a:hover {
  color: rgb(39, 38, 38);
  padding-left: 5px;
}
footer .container-footer .menu-footer .informative {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .container-footer .menu-footer .informative form {
  display: flex;
}
footer .container-footer .menu-footer .informative form input {
  color: rgb(118, 106, 106);
  background-color: rgb(255, 254, 249);
  border-radius: 15px;
  width: 18rem;
  height: 2.5rem;
  padding-left: 1rem;
}
footer .container-footer .menu-footer .informative .btn {
  box-shadow: 0 0 10px rgb(39, 38, 38);
  margin-top: 1rem;
}
footer .container-footer .menu-footer .informative .btn:hover {
  box-shadow: 0 0 10px rgb(255, 254, 249);
  color: rgb(255, 254, 249);
  letter-spacing: 1px;
}
footer .container-footer .menu-footer .info-contact ul,
footer .container-footer .menu-footer .my-account ul {
  list-style-type: none;
}
footer .container-footer .menu-footer .my-account ul a {
  text-decoration: none;
  color: rgb(255, 254, 249);
}
footer .container-footer .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}
footer .container-footer .p-copyright {
  margin: 0;
  color: rgb(118, 106, 106);
  font-weight: 500;
}

/*========= MEDIA QUERIES =========*/
/*========= TABLET 768px =========*/
@media (max-width: 768px) {
  footer {
    margin: 0 0;
    padding: 1rem;
  }
  footer .container-footer {
    margin: 0 5%;
  }
  footer .container-footer .menu-footer {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    border-bottom: 1px solid rgb(255, 254, 249);
    color: rgb(255, 254, 249);
    padding-bottom: 1.1rem;
    line-height: 1.6rem;
  }
  footer .container-footer .menu-footer .informative form input {
    width: 15rem;
  }
  footer .container-footer .menu-footer .my-account {
    display: none;
  }
  footer .container-footer .copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  .my-account {
    display: none;
  }
}
/*========= MEDIA QUERIES =========*/
/*========= MOVIL L 425px =========*/
@media (max-width: 425px) {
  footer {
    margin: 0 0;
    padding: 1rem;
  }
  footer .container-footer .menu-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid rgb(255, 254, 249);
    color: rgb(255, 254, 249);
    padding-bottom: 1.1rem;
    line-height: 1.6rem;
  }
  footer .container-footer .menu-footer .informative form input {
    width: 15rem;
  }
  footer .container-footer .copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
