// ========== APLICANDO SASS HEADER==========
header{ 
    padding: 10px;
    background-image: url(../assets/hero.jpg);
    background-size: cover;
    height: 100vh;
    // ****NO ME TOMA EL VALOR DE LA OPACIDAD***
    // background-color: $opacidad;

    & h1{
    color: white;
    font-family: $font1;
    font-size: 60px;
    font-weight: bolder;
    text-shadow: 0px 5px 10px black;
    // background: rgba(5, 12, 7, 0.5);
    }

    #btn-uno{
    text-shadow: 5px 0px 10px black;
    background-color: $opacidad;
    }
    #btn-uno:hover{
    text-shadow: none;
    background-color:$color1;
    }

    & .hero{
    background-color:rgba(0, 0, 0, 0.0);
    height: 86vh;
    }
    
    /* INICIO ESTILOS NAVBAR */
    & nav{
        background-color: rgb(246, 243, 236);
        height: 80px;
        margin: 20px 10px;
        border-radius: 30px;
        padding: 0.5rem;

    .navbar-brand span{
        color:  rgb(239, 194, 31);
        font-weight: bold;
    }
    .login-button{
        color:  rgb(239, 194, 31);
        padding: 4px 15px;
        border-radius: 20px;
        text-decoration: none;
        margin: 0 10px;
        font-weight: bold;
        border: 2px solid rgb(239, 194, 31);
    }
    .login-button:hover{
        background-color:rgb(239, 194, 31);
        color:black;
        transition: 0.2s;
        font-weight: bold;
    }

    .navbar-toggler{
        border: none;
    }

    .nav-link:hover{
        color: rgb(239, 194, 31);
    }
    .dropdown-item:hover{
        color: rgb(239, 194, 31);
    }
    }
     /* FIN ESTILOS NAVBAR */
}
