$color1: rgb(255, 188, 65);
$color2: rgb(39, 38, 38);
$color3: rgb(255, 254, 249);
$color4: rgb(118, 106, 106);

$opacidad:rgba(0, 0, 0, 0.3);
$font1: "Rosarivo", cursive;
$background-white: url(../assets/backgorund.jpg);
$background-yellow: url(../assets/background-yellow.jpg);
